USE [master]
GO
/****** Object:  Database [QuanLyQuanCafe_K235480106009]    Script Date: 4/29/2026 1:56:04 PM ******/
CREATE DATABASE [QuanLyQuanCafe_K235480106009]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyQuanCafe_K235480106009', FILENAME = N'D:\SQL\QuanLyQuanCafe_K235480106009.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyQuanCafe_K235480106009_log', FILENAME = N'D:\SQL\QuanLyQuanCafe_K235480106009_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyQuanCafe_K235480106009].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyQuanCafe_K235480106009]
GO
/****** Object:  UserDefinedFunction [dbo].[ApDungGiamGia]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ApDungGiamGia](@GiaGoc MONEY, @PhanTramGiam INT)
RETURNS MONEY
AS
BEGIN
    DECLARE @SoTienGiam MONEY;
    SET @SoTienGiam = (@GiaGoc * @PhanTramGiam) / 100;
    RETURN @GiaGoc - @SoTienGiam;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[ThongKeDoanhThu]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ThongKeDoanhThu]()
RETURNS @ThongKeTable TABLE (TenSP NVARCHAR(200), TongTien MONEY)
AS
BEGIN
    INSERT INTO @ThongKeTable
    SELECT s.[TenSanPham], SUM(h.[SoLuong] * s.[GiaBan])
    FROM [SanPham] s JOIN [HoaDonChiTiet] h ON s.[MaSanPham] = h.[MaSanPham]
    GROUP BY s.[TenSanPham];
    RETURN;
END;

GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[MaHoaDon] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayBan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[TimHoaDonTheoNgay]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TimHoaDonTheoNgay](@TuNgay DATETIME, @DenNgay DATETIME)
RETURNS TABLE
AS
RETURN (
    SELECT 
        [MaHoaDon], 
        [MaSanPham], 
        [SoLuong], 
        [NgayBan]
    FROM [HoaDonChiTiet]
    WHERE [NgayBan] BETWEEN @TuNgay AND @DenNgay
);

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](200) NOT NULL,
	[GiaBan] [money] NULL,
	[MaLoai] [int] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoNo]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoNo](
	[MaNo] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[SoTienNo] [money] NULL,
	[NgayGhiNo] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDonChiTiet] ADD  DEFAULT (getdate()) FOR [NgayBan]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[SoNo] ADD  DEFAULT ((0)) FOR [SoTienNo]
GO
ALTER TABLE [dbo].[SoNo] ADD  DEFAULT (getdate()) FOR [NgayGhiNo]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HDCT_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSanPham] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Loai]
GO
ALTER TABLE [dbo].[SoNo]  WITH CHECK ADD  CONSTRAINT [FK_SoNo_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SoNo] CHECK CONSTRAINT [FK_SoNo_KhachHang]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_SoLuong] CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [CK_SoLuong]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_GiaBan] CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_GiaBan]
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachMonBanChay]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachMonBanChay]
    @MucToiThieu INT
AS
BEGIN
    SELECT S.[TenSanPham], SUM(H.[SoLuong]) AS [TongBan]
    FROM [SanPham] S
    JOIN [HoaDonChiTiet] H ON S.[MaSanPham] = H.[MaSanPham]
    GROUP BY S.[TenSanPham]
    HAVING SUM(H.[SoLuong]) >= @MucToiThieu
    ORDER BY [TongBan] DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThuTheoNgay]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DoanhThuTheoNgay]
    @Ngay DATE,
    @TongDoanhThu MONEY OUTPUT
AS
BEGIN
    SELECT @TongDoanhThu = SUM(H.[SoLuong] * S.[GiaBan])
    FROM [HoaDonChiTiet] H
    JOIN [SanPham] S ON H.[MaSanPham] = S.[MaSanPham]
    WHERE CAST(H.[NgayBan] AS DATE) = @Ngay;
    SET @TongDoanhThu = ISNULL(@TongDoanhThu, 0);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLoaiSanPham]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemLoaiSanPham]
    @TenLoai NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM [LoaiSanPham] WHERE [TenLoai] = @TenLoai)
    BEGIN
        PRINT N'Lỗi: Tên loại sản phẩm này đã tồn tại!';
    END
    ELSE
    BEGIN
        INSERT INTO [LoaiSanPham] ([TenLoai]) VALUES (@TenLoai);
        PRINT N'Thêm loại sản phẩm thành công.';
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TongBanRa]    Script Date: 4/29/2026 1:56:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongBanRa]
    @MaSP INT, @Tong INT OUTPUT
AS
BEGIN
    SELECT @Tong = SUM([SoLuong]) FROM [HoaDonChiTiet] WHERE [MaSanPham] = @MaSP;
END;

GO
USE [master]
GO
